body {
    background-image: url('../imgs/library.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 10px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    font-family: Baskerville;
    text-align: center;
}

.card {
    margin: 10px;
}

.col-md-8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.quote {
    font-style: italic;
}